hkertjkerfhjdgjrjjekwghlhkhbhhbnkjbjbjljjsgbsjfjkl;gfdauiopttfdsarewqtrtuyuytrughnmmnjnm,mnm,kbd
jkl; fdsa uiouioprewqutyhghguyytrhgnmj,..vcvcxcvcxzvcxz.mnmj,.


overflow: hidden;

max-width: 100%;

background-size: cover;
position:relative;
top: 0;
height:100vh;
margin: 0;

header{
    background: url(images/bg.webp);
    padding: 60em;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100%;
    position: absolute;
    height: 20vh;
    top: -85px;
   }

   .nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    z-index: 100;
    line-height: 80px;
}
.nav-menu-btn{
    position: absolute;
    z-index: -1;
    font-size: 100px;
    color: #141414;
    margin-top: -80px;
    margin-left: 60px;
}
.nav .nav-logo img{
    width: 90px;
    position: absolute;
    margin-left: 63px;
    margin-top: 5.2px;
}
transform: translateY(-270px);

forms .form2{
    position:relative ;
    left: 95px;
    display: flex;
    height: 55px;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-275px); 
    background: #ffffff; 
}
.forms .form2 > input{
    outline: none;
    border: none;
    font: inherit;
    flex: 1;
    height: 4;
    font-size: 18px;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left:-50px;
    padding: 20px 215px 20px 55px;
}
.forms .form2 img{
    position: absolute;
    width: 35px;
    top: 11px;
    transform: translateX(-40px);
}
.forms .form2 h4{
    
}


<forms>
    <label for="address"></label>
    <input type="text" id="address">
    <label for=""
</forms>



<i class="fa-solid fa-clock"></i>


<div class="form2">
        <img src="images/clock.png" alt="loc icon">
        <h4>Deliver now</h4>
    </div>
    <div class="image-1">
    <img src="images/Uber-Eats-for-Merchants---Instagram.webp" alt="image-1">
    <div class="images-2">
    <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/711d51ca1b458931.webp" alt="images-2">
</div>
<div class="images-3">
    <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/16522a701585873b.webp" alt="images-3">
</div>
</div>

<div class="food-images">
<ul class="food">
<li><a href=""><img src="images/Uber-Eats-for-Merchants---Instagram.webp" alt="image-1"></a></li>
<li><a href=""><img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/711d51ca1b458931.webp" alt="image-1"></a></li>
<li><a href=""><img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/16522a701585873b.webp" alt="image-1"></a></li>

</ul>

.food-images .image-1{
    position: relative;
    padding: 120px 20px 50px 40px;
    margin: 20px 40px ;
}
.food-images .image-1 img{
    height: 50vh;
}

<section id="image grid">
    <div class="images">
        <a href="">
            <img src="images/Uber-Eats-for-Merchants---Instagram.webp" alt="image-1">
            <h4>Feed your employees</h4>
            <p>Create a business account</p>
        </a>
        <a href="">
            <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/711d51ca1b458931.webp" alt="image-1">
            <h4>Your restaurant,delivered</h4>
            <p>Add your restaurant</p>
        </a>
        <a href="">
            <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/16522a701585873b.webp" alt="image-1">
            <h4>Deliver with uber Eats</h4>
            <p>Sign up to deliver</p>
        </a>
    </div>

   </section>

   /*grid testing*/
.image{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
}

<div class="row">
<div class="columns">
   <img src="images/Uber-Eats-for-Merchants---Instagram.webp" width="100%;">
   </div>
<div class="columns">
   <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/711d51ca1b458931.webp" width="100%;">
    </div>
<div class="columns">
   <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/16522a701585873b.webp" width="100%;">
     </div>
</div>

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
http://www.mindbodytrail.com/uploads/1/3/4/4/134449616/screen-shot-2022-11-21-at-10-58-22-am_orig.png